browserbible/public/content/texts/*.*
browserbible/public/content/lexicons/*
dist/
browserbible/public/content/texts/
!browserbible/public/content/texts/README.md

browserbible/public/content/commentaries/

downloads/*

**/node_modules/
**/__pycache__/
playwright-report/*
test-results/*
coverage/
.nyc_output/
.e2e-cache/

/starter-pack.zip
demo-output/

.DS_Store
.pnpm-store/
