

.window-reset {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: block;
	cursor: pointer;
	font-size: 10px;
	padding: 0 0 0 24px;
	height: 20px;
	line-height: 20px;
}

.window-reset::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	translate: 0 -50%;
	width: 20px;
	height: 20px;
	background-color: currentColor;
	-webkit-mask: url(../../css/images/restore.svg) center / 20px 20px no-repeat;
	mask: url(../../css/images/restore.svg) center / 20px 20px no-repeat;
}

.window-reset:hover {
	color: var(--color-primary);
}
